@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    /* mobile defaults */
    @apply font-bold;
    @apply text-3xl;
    @apply leading-normal;
    /* desktop overrides */
    @apply xl:text-5xl;
    @apply leading-loose130;
  }

  h2 {
    /* mobile defaults */
    @apply font-bold;
    @apply text-2xl;
    @apply leading-loose115;
    @apply tracking-tight;
    /* desktop overrides */
    @apply lg:text-3xl;
    @apply lg:tracking-tighter;
  }

  h3 {
    /* mobile defaults */
    @apply font-semibold;
    @apply text-xl;
    @apply leading-loose105;
    @apply tracking-tight;
    /* desktop overrides */
    @apply lg:text-2xl;
    @apply lg:tracking-tighter;
  }
}

@layer utilities {
  .text-btn {
    /* mobile defaults */
    @apply font-normal;
    @apply text-xl;
    @apply leading-loose130;
    /* desktop overrides */
    /* @apply lg:text-2xl; */
  }

  .text-hero {
    /* mobile defaults */
    @apply font-normal;
    @apply text-[0.7rem];
    @apply leading-loose155;
    /* desktop overrides */
    @apply lg:text-sm;
    @apply lg:leading-loose160;
  }

  .text-small {
    /* mobile defaults */
    @apply text-xs;
    @apply leading-loose155;
    /* desktop overrides */
    @apply lg:text-sm;
  }

  .text-normal {
    /* mobile defaults */
    @apply font-normal;
    @apply text-lg;
    /* desktop overrides */
    @apply lg:text-xl;
  }

  .text-underline {
    padding: 30px 0 8px;
    position: relative;
  }

  .text-underline::before {
    content: '';
    position: absolute;
    /* left: 7%; */
    bottom: 14px;
    width: 100%;
    height: 0.45em;
    /* transform: skew(-12deg) translateX(-50%); */
    background: rgba(238, 111, 87, 0.5);
    z-index: -1;
  }
}

.logo-background {
  background: conic-gradient(#0252cd, rgba(2, 82, 205, 0.33));
}
